{% extends "layout.html" %}

{% block content %}
<div class="row">
    {% if people %}
      <h2> People </h2>
      {% for person in people %}
            <ul>
              <li><a href="{% url 'edit:person' local_name=person.uri %}">{{ person.text }}</a></li>
            </ul>
      {% endfor %}
    {% endif %}
    {% if orgs %}
        <h2> Organizations </h2>
        {% for org in orgs %}
            <ul>
              <li><a href="{% url 'edit:org' local_name=org.uri %}">{{ org.text }}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}