{% extends "layout.html" %}

{% block content %}
<div class="row">
    <h2> {{ profile.name }}</h2>
    {% if profile.title %}
        <h4> {{ profile.title }}</h4>
    {% endif %}
    {% if profile.orgs %}
        <h5>Affiliations</h5>
        {% for porg in profile.orgs %}
          <h6> <a href="{% url 'edit:organization' local_name=porg.id %}">{{ porg.name }}</a></h6>
        {% endfor %}
    {% endif %}
    {% for section in sections %}
      <h3>{{ section.label }}</h3>
      {% if section.etype == "ckedit" %}
        {% include "snippets/ckedit.html" %}
      {% elif section.etype == "multi-tag" %}
          {% include "snippets/multi-tag.html" %}
      {% elif section.etype == "multi-tag-select" %}
          {% include "snippets/multi-tag-select.html" %}
      {% endif %}
      <hr/>
    {% endfor %}
</div>


{% endblock %}
